<!DOCTYPE html>
<html>

<head>
    <title>TaskMind</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>TaskMind 🚀</h1>

        <p>AI-Powered Workflow Automation Platform</p>

        <div class="home-buttons">

            <a href="/signup-page">
                <button>
                    Signup
                </button>
            </a>

            <a href="/login-page">
                <button>
                    Login
                </button>
            </a>

        </div>

    </div>
    
</body>

</html>